extends layout

block content
	.ui.stackable.relaxed.grid.container
		.row
			.sixteen.wide.column
				.vertical.segment
					h1.ui.header ようこそ Xeltica Musicaへ
				.vertical.segment
					- var anniv = 8;
					p= `私，ゼルチカは，作曲活動をはじめておよそ${anniv}年になります．事実，この${anniv}年もの間で，私の作曲スキルは明らかに向上しています．`
					p ...... これだけではただの自慢話にしかなりません．本当に私のスキルは上がっているのでしょうか？
					p ところで，私は同じ曲を何度も更新することがしばしばあります．昔から，同じ曲を更新するときには，一部の場合を除いて，バージョン管理を怠りませんでした．また，どちらかというとセルフアレンジのようなバージョンをもつ楽曲も多く存在します．
					p= `私は，この${anniv}年間で制作してきた，あらゆるバージョンを含む楽曲をすべて公開することにしました．`
					p ただファイルを公開するだけではなく，異なるバージョンの聴き比べも可能にしました．
					p 本当は曖昧ながらも日付を設定したかったのですが，あまりにも曲数が多い上に，性格なタイムスタンプが残っていないものも多かったので，諦めました．ごめんなさい！
					p このサイトは，オリジナル曲の公開スペースという目的はもちろんですが，私が私自身を再認識するツールとしての目的も持つと考えています．
					p どうか，上の検索フォームをつかって，さまざまな曲たちを聴いてあげてください．個人的に黒歴史であろう曲ですら公開しています．酷いものもお構いなしに載せています．未完成すらも．
					p 2018.3.19 Xeltica