extends layout

block content
	.vertical.segment.ui.stackable.relaxed.grid.container
		.row
			.sixteen.wide.column
				h1.ui.header Xeltica Musica
				p Xeltica Musica は，ゼルチカの音楽レーベルです．

	.ui.stackable.grid.container
		.row
			//-.ui.items
			each val in music
				.eight.wide.column
					+song(val)