extends layout

block content
    .ui.link.cards
      each val in music
          .ui.card
            .content
              .header: a(href="/song/" + val.display_id)= val.title
              .meta= val.display_id
            .content
              //- MP3 決め打ち
              audio(src=music_url + val.display_id + ".mp3", controls, style="width: 100%")
            .content
              .description= val.description ? val.description : "説明はありません"