extends layout

block content
	.vertical.segment.ui.stackable.relaxed.grid.container
		.row
			.sixteen.wide.column
				h1.ui.header Xeltica Musica
				p Xeltica Musica は，ゼルチカの音楽レーベルです．

	.ui.stackable.relaxed.grid.container
		.row
			.sixteen.wide.column
				.ui.items
					each val in music
						+song(val)